* {
    scroll-behavior: smooth;
}



div{
    display: block;
}

/*Fuentes*/
@font-face {
    font-family: "BebasNeue" ;
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}





nav {
    float: right;
    overflow: hidden;
    text-align: right;
    
}

nav a {
    display: inline-block;
    margin-top: 5px;
    color: white;
    text-align: right;
    padding: 6px;
    text-decoration: none;
    font-family: 'system-ui';
    font-size: xx-small;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

 /* Estilos para ocultar el menú en dispositivos más pequeños */
 .menu-items {
    display: none;
  }
  /* Estilos para mostrar el menú en dispositivos más grandes */
  @media (min-width: 576px) {
    .menu-items {
      display: block;
    }
}

#logo:hover {
    text-decoration: none;
}



h1{
    font-family: 'system-ui';
}

.intro-text,
    .description {
        display: inline-block; 
        vertical-align: middle}

      

h2{
    width: 100%;
    font-family: 'system-ui';
    font-style: normal;
    font-size: xx-small;
    line-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
    opacity: 0; 
    animation: fadeIn 0.5s forwards;
   
}


/* Agregamos la clase 'pop' al h3 para aplicar la animación */
 .pop {
   display: flex;
   justify-content: right;
    font-family: 'system-ui';
    font-size: small; /* Ajusta el tamaño del texto según tus necesidades */
    transition: transform 0.3s ease-in-out; /* Añadimos una transición suave */
}

/* Añadimos la regla hover para aplicar la transformación cuando el usuario pasa el ratón sobre el h3 */
.pop:hover {
    transform: scale(1.2); /* Escalamos el h3 al 120% de su tamaño original */
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
        display: none;
    }

    nav a.menu-icon {
        display: block;
    }

    .responsive-nav a {
        display: block;
        text-align: left;
    }
}

  .container {
    display: flex;
    align-items: right;
    justify-content: right;

  }
  

.avatar {
    width: 4rem;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; 
    margin-top: 2rem;
}

/* Añadimos la regla hover para aplicar la transformación cuando el usuario pasa el ratón sobre la imagen */
.avatar:hover {
    transform: scale(1.5); /* Escalamos la imagen al 120% de su tamaño original */
}




.intro{
font-family: 'system-ui';
  font-size: xx-small;
  font-weight: lighter;
  margin-left: 0px;
}

/* Definimos la animación 'shine' */
        @keyframes shine {
            0% {
                color: #fff; /* Color inicial (blanco) */
                text-shadow: 0 0 10px #fff; /* Sombra inicial */
            }

            50% {
                color: #ffd700; /* Color brillante (amarillo oro) a la mitad de la animación */
                text-shadow: 0 0 20px #ffd700; /* Sombra brillante */
            }

            100% {
                color: #fff; /* Color final (blanco) */
                text-shadow: 0 0 10px #fff; /* Sombra final */
            }
        }


.card-title{
    font-size: medium;
    font-family: 'BebasNeue';
    font-size: 16px;
    font-weight: lighter;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    margin-left: 8rem;
    
}
.card-subtitle{
    font-family: 'BebasNeue';
    text-decoration: none;
    animation: shine 2s infinite;
    margin-left: 0;
}




ul{
    list-style-type: none;
    padding: 0;
    margin-left: 0;
   
}

.links-group li{
   display: inline-block;
   margin-right: .5rem;
   transition: transform 0,3 ease;

}

.background-section{
    border: 1px solid white; 
    background-color: rgba(255, 255, 255, 0.5) ;
  
    
  }




  /*Work section cards*/

  .work-section{
    display: flex;
    justify-content: center;
    align-items: 0 auto;
    margin: 2rem;

  }

  .work{
    font-family: 'system-ui';
  font-size: xx-small;
  font-weight: lighter;
  margin-left: 2rem;
  }

  .img-fluid rounded-start{
    margin-left: 127px;
  }

  .img-fluid:hover{
    margin-left: 60px;
    transform: scale(1.3);

  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    width: calc(3=15% - 5px); /* Ancho del 50% menos el espacio entre elementos */
    border: 1px solid #E83283;
    background-color: #E83283;
    color: lavender;
    border-radius: 4px;
    margin-left: 10px; /* Espacio entre elementos */
    margin-bottom: 10px; /* Espacio entre filas */
    font-family: "system-ui";
    font-size: 8px;
    display: flex;
    align-items: start;
  }

  .item-btn{
    width: calc(3=20% - 5px); /* Ancho del 50% menos el espacio entre elementos */
    border: 1px solid #E83283;
    background-color: transparent;
    border-radius: 4px;
    margin-left: 20px; /* Espacio entre elementos */
    margin-bottom: 10px; /* Espacio entre filas */
    font-family: "system-ui";
    font-size: 8px;
    display: flex;
    color: white;


  }

  .item-btn:hover{
    transform: scale(1.2);
    background-color: #E83283;
    color: black;
  }

  
  /*About section carrousel*/


  .carousel-caption {
    top: 0%;
    font-family: 'system-ui';
    font-size: 1rem;
}


.caption{
    font-size: .5rem;
}

h6{
    display: flex;
    font-size: medium;
    font-family: 'BebasNeue';
    font-weight: lighter;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 8rem;
    letter-spacing: 1px;
    line-height: 52px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 auto;
   }

   .container-skills{
    display: flex;
   }
   .card-skills {
    flex: 1;
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    border: 1px solid #E83283;
    background-color: transparent;
    border-radius: 4px;
  }
  .card-skills img {
    width: 100%;
    border-radius: 8px;
  }

  .p-skills{
    font-family: 'system-ui';
    font-size: 9px;
    margin: 10px;
}

 /* Estilos para la sección de contacto */
 .contact-section {
    background-color: #f2f2f2;
    margin-top: 2rem;
    padding: 50px 0;
    text-align: center;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
  }

  .contact-info-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    transition: transform 0.3s ease;
  }

  .contact-info-item:hover {
    transform: translateY(-10px);
  }

  .contact-info-item h3 {
    color: #333;
  }

  .contact-info-item p {
    color: #666;
  }

  /* Animación para el título */
  
  .title-connect{
    font-family: 'system-ui';
    color: #E83283;
    font-size: 1rem;
    animation: titleAnimation 1s ease forwards;
    
  }

  .p-connect{
    font-family: 'system-ui';
    color: #333;
    font-size: 0.625rem;
    text-align: center;
    animation: paragraphAnimation 1s ease forwards;
  }

  .contact-info-item{
    font-family: 'system-ui';
    font-size: 0.625rem;
  }


  #h-connect{
    font-family: 'system-ui';
    font-size: 1rem;
  }

  .links-group-connect{
    display: flex;
    justify-content: space-around;
   margin-left: 1rem;
   transition: transform 0,3 ease;
   animation: shine2 2s infinite ;

  }

  .contact-info {
    display: flex;
    justify-content: space-around; /* Esto distribuirá equitativamente las tarjetas horizontalmente */
    max-width: 600px; /* Opcional: establece el ancho máximo para evitar que se extiendan demasiado en pantallas grandes */
    margin: 0 auto; /* Centra horizontalmente el contenedor de las tarjetas */
}

.contact-info-item {
    text-align: center; /* Alinea el contenido al centro dentro de cada tarjeta */
}


  /* Animaciones */
  @keyframes titleAnimation {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  @keyframes paragraphAnimation {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .see-cv-link{
  border: solid 1px yellowgreen;
  color: yellowgreen;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px
  }


  .contenedor-flex {
    display: flex;
    justify-content: center; /* Ajusta el espacio entre los elementos */
}






